<div id="RecentTickets" class=" m-4 bg-white rounded" style="">
  <div class="m-5 fs-4 fw-bold" >Recent Tickets</div>
  <div class="m-5  ">
    <table class="table  align-middle border-light ">
      <thead>
      <tr>
        <th scope="col">Assignee</th>
        <th scope="col">Subject</th>
        <th scope="col">Status</th>
        <th scope="col">Last update</th>
        <th scope="col">Tracking ID</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td > <img src="assets/img/Layer 528.png" class="rounded-circle img-responsive"
                   style="width:50px;height:50px" alt="..."> David Grey</td>
        <td>Funds is not received</td>
        <td ><div id="DONE" class=" text-center  rounded  text-white" style="width:35%; background: -webkit-linear-gradient(left,#79d9c2,#04ba8e)">
          DONE
        </div></td>
        <td>26 jun 2017</td>
        <td>WD-12345</td>
      </tr>
      <tr>
        <td> <img src="assets/img/Layer 527.png" class="rounded-circle img-responsive"
                  style="width:50px;height:50px" alt="..."> Stella Johnson</td>
        <td>Assign a new task Design Purpleadmin</td>
        <td><div id="PROGRESS" class=" text-center  rounded  text-white" style="width:50%; background: -webkit-linear-gradient(left,#fced60,#ffe817)">
          PROGRESS
        </div></td>
        <td>27 jun 2017</td>
        <td>WD-12346</td>
      </tr>

      <tr>
        <td > <img src="assets/img/Layer 526.png" class="rounded-circle img-responsive"
                   style="width:50px;height:50px" alt="..."> Marina Michel</td>
        <td >Website down for one week</td>
        <td><div id="ONHOLD" class=" text-center  rounded  text-white" style="width:50%; background: -webkit-linear-gradient(left,#7ac6ff,#278edb)">
          ON HOLD
        </div></td>
        <td>28 jun 2017</td>
        <td>WD-12347</td>
      </tr>
      <tr>
        <td> <img src="assets/img/Layer 525.png" class="rounded-circle img-responsive"
                  style="width:50px;height:50px" alt="..."> John Doe</td>
        <td >Understanding dashboard problems</td>
        <td><div id="REJECTED" class=" text-center  rounded  text-white" style="width:50%; background: -webkit-linear-gradient(left,#ff969d,#e33974)">
          PEJECTED
        </div></td>
        <td>29 jun 2017</td>
        <td>WD-12347</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
