<div>
  <hr class="bg-secondary  mx-auto" style="width:100%">
  <div class="d-flex m-4 text-muted position-relative">

    <div>Copyright</div>
    <i class="bi bi-c-circle mx-2"></i>
    <div>2017</div>
    <div class="text-info mx-1">Bootstrap Dash</div>
    <div>. All right reserved.</div>
    <div class="position-absolute top-0 end-0">
      <div>Hand-crafted & made with </div>
      <i class="bi bi-suit-heart-fill " style="background: -webkit-linear-gradient(left,#ff969d,#e33974);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent"></i>
    </div>
  </div>
</div>

