<div class=" m-4 bg-white position-relative rounded" style="">
  <div class="m-5">
    <div class=" fs-4 fw-bold" >Recent Updates</div>
    <div class="my-2 d-flex text-muted">
      <img src="assets/img/person.png" class="img-responsive  my-auto" style="width:15px;height:15px"
           alt="...">
      <div class="mx-4">Jack Menqu</div>
      <div class="mx-4">
        <img src="assets/img/history.png" class="img-responsive  my-auto" style="width:15px;height:15px"
             alt="...">
        <div >october 3th, 2018</div>
      </div>

    </div>
    <div class=" ">


      <div class="d-flex flex-row justify-content-between mb-3 ">
        <div class="w-50 "><img src="assets/img/Layer 766.png" class=" w-100 rounded" style=""></div>
        <div class="w-50 ms-3"><img src="assets/img/Layer 765.png" class="w-100 rounded" style=""></div>

      </div>
      <div class="d-flex flex-row justify-content-between">
        <div class="w-50"><img src="assets/img/Layer 767.png" class="w-100 rounded" style=""></div>
        <div class="w-50 ms-3"><img src="assets/img/Layer 768.png" class="w-100 rounded" style=""></div>

      </div>
    </div>
  </div>
  <div class="d-flex m-5 row">
    <div class="col-md-auto ">
      <img src="assets/img/Layer 512@4x.png"
           class="rounded-circle"
           style="width:50px;height:50px" alt="...">
    </div>
    <div class="col ">
      <div class="row "><b>School Website - Authentication Module</b></div>
      <div class="row" ><p class=" text-black-50 fs-6 ">It is a long established fact that a reader will be distracted by the readable content of the page.</p></div>
    </div>
  </div>
</div>
