<div class="  float-start w-100  ">
  <div class="d-flex flex-row m-4">
    <div class=" rounded  text-center position-relative "
         style="width:35px; height:35px; background: -webkit-linear-gradient(left,#e685f2,#9572f7)">
      <i class="bi bi-house-door-fill position-absolute top-50 start-50 translate-middle"
         style="color:white "></i>
    </div>
    <span class="  flex-fill fw-bold fs-5 mx-3">Dashboard</span>
    <div id="overview" onclick="myFunction()" class="  ms-auto mx-1 ">
      <span >Overview</span>
      <i class=" bi bi-info-circle  "
         style="background: -webkit-linear-gradient(left,#e685f2,#9572f7);-webkit-background-clip: text;-webkit-text-fill-color: transparent;"></i>
    </div>
  </div>
</div>
