<div class=" mx-4">
  <div class="d-flex justify-content-between">
    <div class="rounded  " style="width:32%;height: 210px;background-image:url(assets/img/RoundedRectangle1.png); background-repeat:no-repeat; background-size: cover">
      <div class="m-4 d-flex flex-column  text-white ">
        <div class="mx-2 fs-5">Weekly Sales
          <a class="bi bi-graph-up float-end h3" style="color:white "></a>
        </div>
        <div class="m-2 fs-2 fw-bold">$ 15,0000</div>
        <div class="m-2 mt-4 fs-5">Increased by 60%</div>
      </div>
    </div>
    <div class="rounded " style="width:32%;height: 210px;background-image:url(assets/img/RoundedRectangle1copy6.png); background-repeat:no-repeat; background-size: 100% 100%">
      <div class="m-4 d-flex flex-column  text-white ">
        <div class="mx-2 fs-5">Weekly Orders
          <a class="bi bi-bookmark float-end h3" style="color:white "></a>
        </div>
        <div class="m-2 fs-2 fw-bold">49,5057</div>
        <div class="m-2 mt-4 fs-5">Decreased by 10%</div>
      </div>
    </div>
    <div class=" rounded" style="width:32%;height: 210px;;background-image:url(assets/img/RoundedRectangle1copy7.png); background-repeat:no-repeat; background-size: 100% 100%">
      <div class="m-4 d-flex flex-column  text-white ">
        <div class="mx-2 fs-5">Visitors Online
          <a class="bi bi-gem float-end h3" style="color:white "></a>
        </div>
        <div class="m-2 fs-2 fw-bold">95,5741</div>
        <div class="m-2 mt-4 fs-5">Increased by 5%</div>
      </div>
    </div>
  </div>
</div>
